<div class = "container">
{{#with article}}

<div class="row">
	<div
		class="col-md-9"
		style="border-color:blue; border-style:solid; border-width:1px"
	><h1>{{{post.title}}}</h1>
	<p>{{{post.standfirst}}}</p>
	<p>{{{post.date}}}</p>
	<img> 

	</div>
</div>
<div class="row">
	<div class="col-md-8" style="border-color:blue; border-style:solid; border-width:1px">
		<img src={{{post.image}}} alt="for the main article" width="500" height="600">
	</div>

	<div class="col-md-3 offset-md-1 posts" style="border-color:blue; border-style:solid; border-width:1px">
		<h2>More Stories</h2>
		{{#each posts}} 
			{{@id}}: {{this}} 
		{{/each}}
		
	</div>
</div>

<div class="row">
	<div
		class="col-md-6 offset-md-2"
		style="border-color:blue; border-style:solid; border-width:1px"
	> 
    <p>
		{{{post.body}}}
	</p>
</div>
{{/with}}

<div class="row ">
	<div
		class="col-md-6 offset-md-2"
		style="border-color:blue; border-style:solid; border-width:1px"
	> 
	<ul class="comment_list">
	</ul>

	</div>
</div>

</div>