<head>
	<script src="static/app.bundle.js" defer></script>
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Newsreader&display=swap" rel="stylesheet">
</head>


<div class = "container">

		<div class="row">
			<div class="col-xs-12 col-sm-offset-2 col-sm-7 article__header" style="border-color:blue; border-style:solid; border-width:1px">
				<h1 class="article__title">{{{article.post.title}}}</h1></br>
				<h2 class="article__stand">{{{article.post.standfirst}}}</h2>

				<!-- TODO truncate date to just date & time -->
				<p class="article__date">{{{article.post.date}}}</p>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12 col-sm-8 article__image" style="border-color:blue; border-style:solid; border-width:1px">
				<img  src={{{article.post.image}}} alt={{{article.post.title}}} >
			</div>

			<div class="col-xs-12 col-sm-offset-1 col-sm-3 article__stories" style="border-color:blue; border-style:solid; border-width:1px">
				<h2 class="article__stories-title">More Stories</h2>
				{{#each posts}} 
					<h2>ttt</h2>
					{{this.posts.id}}
				{{/each}}


<!--{{#each posts.posts}}
            {{this.id}}
            {{this.title}}
            {{this.thumbnail}}
            {{/each}} -->

		</div>

		<div class="row">
			<div class="col-xs-12 col-sm-offset-2 col-sm-6 article__body" style="border-color:blue; border-style:solid; border-width:1px"> 
				<div>{{{post.body}}}</div>
			</div>
		</div>
	
		<div class="row">
			<div class="col-xs-12 col-sm-offset-2 col-sm-6 article__comments" style="border-color:blue; border-style:solid; border-width:1px">
				<p>This is some comment text</p> 
			</div>
		</div>


</div>
